<div class="table-container">
<table>
    <thead>
        <tr>
            <td>Date</td>
            <td>Game</td>
            <td>Chart</td>
            <td></td>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Date</td>
            <td>Game</td>
            <td>Chart</td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
      {{#each notifications }}
        <tr>
            <td>{{formatDate timestamp }}</td>
            <td><a href="{{ game.link }}">{{ game.name }}</a></td>
            <td><a href="{{ chart.link }}">{{ chart.name }}<a></td>
            <td><button>:)</button></td>
        </tr>
      {{/each }}
    </tbody>
</table>
</div>