<table id="{{type this }}">
    <caption>{{fullType this }}</caption>
    <thead>
        <tr>
            <td><input type="checkbox" data-notification-type="{{type this }}"></td>
            <td>Date</td>
            <td>Game</td>
            <td>Chart</td>
        </tr>
    </thead>
    <tbody>
      {{#each this }}
        <tr {{#if unread }}class="unread"{{/if }}>
            <td><input type="checkbox" data-notification-url="{{ url }}" data-notification-type="{{ this.type }}"></td>
            <td>{{formatDate timestamp }}</td>
            <td><a target="_blank" href="{{ game.link }}">{{ game.name }}</a></td>
            <td><a target="_blank" href="{{ chart.link }}">{{ chart.name }}</a></td>
        </tr>
      {{/each }}
    </tbody>
</table>